.st {
	font-family: "宋体";
	font-size: 12px;
	color: #30416C;
	line-height: 25px;
}
.sybz {
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	background-color: #A3E2FF;
	padding-right: 4px;
	padding-left: 4px;
}